<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each pages}}
                <div class="alert alert-success" role="alert">
                    <strong>ID:{{this.id}}</strong> - Name: {{this.pageName}} - Description: {{this.pageDescription}}  - URL: {{this.url}}
                </div>
            {{/each}}
        </div>
        <div class="pages">
            <p>
                <strong>Number of pages:{{this.numPages}}</strong>
            </p>
        </div>
        <div class="pagination">
            {{{paginateHelper pagination}}}
        </div>
    </div>
</div>