<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each urls}}
                <div class="alert alert-success" role="alert">
                    <strong>ID:{{this.id}}</strong> - Description: {{this.pageDescription}}  - URL: {{this.url}}
                </div>
            {{/each}}
        </div>
        <div class="pagination">
            <input type="button" id="next" onclick="" value="Next 10 results">
            <a href="?page=1">{{this.firstPage}}</a>
            <a href="?page=2">{{this.numPages}}</a>
            <input type="button" id="prev" onclick="" value="Previous 10 results">
        </div>
    </div>
</div>